# **Data Science Tools and Ecosystem**

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

* Python

* R

* SQL

* Scala

* Java

* C++

* Julia

* JavaScript

* PHP

* Go

* Ruby

* Visual Basic

### Some of the commonly used libraries used by Data Scientists include:


1. Pandas
2. Numpy
3. Sklearning
4. Matplotlib
5. Seaborn
6. Pytorch
7. Keras
8. TensorFlow
9. Apache Spark

## Data Science Tools

| Data Science Tools |
|--------------------|
| Anaconda           |
| Jupyter Notebooks  |
| R Studio           |
| Spyder             |
| Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
2 + 2

4

In [ ]:
2 / 2

1.0

In [ ]:
2 * 5

10

###  This a simple arithmetic expression to mutiply then add integers

In [ ]:
(3*4)+5

17

###  This will convert 200 minutes to hours by diving by 60

In [ ]:
200 / 60

3.3333333333333335

### Objetivos:

*   Adicionar comentarios nas celulas
*   Criar uma celula markdown
*   Lista Ordenada
*   Cabe√ßalhos

## **Autor**

### Cleber Lopes
### Simone Lopes